MAPPING_METHOD="ata"
DISK_SERIAL="SN1 SN2 SN3 SN4"
COLOR_DISK_HEALTH="255 255 255"
BRIGHTNESS_DISK_LEDS="255"
COLOR_DISK_UNAVAIL="255 0 0"
LED_REFRESH_INTERVAL="0.5"
CHECK_DISK_ONLINE_INTERVAL="5"
CHECK_GATEWAY_CONNECTIVITY="true"
COLOR_NETDEV_NORMAL="255 165 0"
COLOR_NETDEV_LINK_100="0 255 0"
COLOR_NETDEV_LINK_1000="0 0 255"
COLOR_NETDEV_LINK_2500="255 255 0"
COLOR_NETDEV_LINK_10000="255 255 255"
COLOR_NETDEV_GATEWAY_UNREACHABLE="255 0 0"
CHECK_NETDEV_INTERVAL="30"
